HOST=127.0.0.1
PORT=18890
MAVLINK_HOST=127.0.0.1
MAVLINK_PORT=14551
MAVLINK_ENABLED=true
SIMULATION_ENABLED=false
FOREST_API_URL=http://127.0.0.1:18000
FOREST_WEB_URL=http://127.0.0.1:15173
FOREST_SIMULATOR_URL=http://127.0.0.1:18787
FOREST_EVENT_TYPE=LANDSLIDE
INTEGRATION_CAPABILITY_ID=landslide.gcs
FOREST_ASSET_ID=f2ba9fb5-10ec-5a99-9979-5a9c92517f5d
SOURCE_SYSTEM=forest-gcs-adapter-instance
